{% extends 'base/main.html' %}
{% block content %}
{% load static %}
<h3>Recent Posts </h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><a href="{% url 'login' %}" style="color: rgb(158, 117, 56);" >{{message}}</a><strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
</ul>
{% endif %}
<ul>
    {% for p,a in post %}
     <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' a.id %}">{{a}}</a>
            <small class="text-muted">{{p.created_at | date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' p.id%}">{{ p.title }}</a></h2>
          <p class="article-content">{{ p.content }}</p>
        </div>
      </article> 
    {% endfor %}
</ul>
<p><a href="{% url 'all_posts' %}">Read more</a></p>
<br><br><br>
<!-- <section>
  <div class="card-container">
   
    <div class="card">
      <img src="https://placeimg.com/800/500/animals"/>
      <div class="content">
        <h3>What a cute animal!</h3>
        <p>Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
      </div>
    </div>
   
    <div class="card">
      <img src="https://placeimg.com/800/500/arch"/>
      <div class="content">
        <h3>Architecture is wonderful.</h3>
        <p>Override the digital divide with additional clickthroughs from DevOps.</p>
      </div>
    </div>
   
    <div class="card">
      <img src="https://placeimg.com/800/500/nature"/>
      <div class="content">
        <h3>Be one with mother nature.</h3>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
      </div>
    </div>
   
    <div class="card">
      <img src="https://placeimg.com/800/500/people"/>
      <div class="content">
        <h3>There's billions of people, let's be excellent to them.</h3>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
      </div>
    </div>
   
    <div class="card">
      <img src="https://placeimg.com/800/500/tech"/>
      <div class="content">
        <h3>Technology is life...</h3>
        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
      </div>
    </div>
   
    <div class="card">
      <img src="https://placeimg.com/800/500/any"/>
      <div class="content">
        <h3>Do you feel lucky?</h3>
        <p>Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      </div>
    </div>
    
  </div>
</section> -->

{% endblock %}