{% extends 'base/main.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="width: 25rem" class="align-items-center">
    <br />
    <h4>Login</h4>
    <br />
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>
            {{message}}
            <strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% endfor %}

    

    <form method="POST" action="">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <!-- <div class="form-control"> -->
                {{form.name}}
            <!-- </div> -->
            <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            {{form.password}}
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" value="submit" class="btn btn-primary btn-block mb-4">Log in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
        </div>
        {% csrf_token %}

    </form>
</div>

<!-- <form class="form" method="post">
    {% csrf_token %}
    <p>{{form.name.label}} {{form.name}}</p>
    <p>{{form.password.label}} {{form.password}}</p>
    <input type="submit" value="submit">
</form> -->
{% endblock %}

<!-- .\venv\Scripts\activate -->