{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'js/script.js' %}" ></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Placement Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_posts'%}">Posts</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">{{request.user}}</a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}   
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" href="#"><a href="{% url 'logout' %}">Logout</a> </button>
          {% else  %}
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" ><a href="{% url 'login' %}">Log in/Sign up</a> </button>
          {% endif %}
        </div>
      </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
