{% extends "base/main.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
<div class="container main-container" style="width: 25rem" class="align-items-center">
    <br>
        <form method="POST">
            {% csrf_token %}

            <div class="form-outline mb-3 ">
                <label class="form-label" for="form2Example1">Title</label>
                {{post_form.title}}
            </div>
            <div class="form-outline mb-3 ">
                <label class="form-label" for="form2Example1">Your post</label>
                {{post_form.content}}
            </div>
            <div class="form-outline mb-3 ">
                <label class="form-label" for="form2Example1">Company</label>
                {{post_form.company}}
            </div>
            <div class="form-outline mb-3 d-flex flex-row">
                <label class="form-label" for="form2Example1" >Intern ? </label>
                 <span >{{post_form.intern }} </span>
            </div>
            <div class="form-outline mb-3 ">
                <label class="form-label" for="form2Example1">CTC</label>
                {{post_form.ctc}}
            </div>
        <button type="submit" value="submit" class="btn btn-primary btn-block mb-4">Update Post</button>

        </form>
    </div>
{% endblock content %}
        


