{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<div class="container main-container" style="width: 25rem" class="align-items-center">
    <br />
    <h4>Register</h4>

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>
            {{ error|escape }}
            <strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    {% for err in form.non_field_errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>
            {{err}}
            <strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% endfor %}




    <br />
    <form method="POST" action="">
        <!-- Username input -->
        <div class="form-outline mb-3 ">
            {{form.name}}
            <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
            {{form.password}}
            <label class="form-label" for="form2Example2">Password</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-3">
            <!-- <div class="form-control"> -->
            {{form.confirm_password}}
            <label class="form-label" for="form2Example2">Confirm Password</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-3">
            {{form.year_of_passing}}
            <label class="form-label" for="form2Example2">Year of Passing</label>

        </div>
        <!-- Password input -->
        <div class="form-outline mb-3">
            {{form.dept_id}}
            <label class="form-label" for="form2Example2">Department</label>
        </div>

        <!-- Submit button -->
        <button type="submit" value="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
        </div>
        {% csrf_token %}

    </form>
</div>
{% endblock %}